@media screen and (min-width: 450px) {
    .header__right-navbar-item {
        width: 120px;
    }
    .icon {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 3em;
        margin: 1em 0 1em 0;
    }
    header {
        flex-direction: row;
    }
    .header__right-login {
        justify-content: right;
    }
    main {
        margin: 0 2em;
    }
    .content {
        flex-direction: row;
        justify-content: center;
    }
    .content__body {
        width: 450px;
    }
    .content__image {
        margin-left: 1em;
        width: unset;
        object-fit: unset;
    }
    footer {
        flex-direction: row;
        height: 5em;
        padding: unset;
    }
    .credits {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 850px) {
    h2 {
        margin-left: -1em;
        margin-top: 2em;
    }
    .articles {
        width: 800px;
    }
    .image_container {
        align-self: flex-end;
    }
    .articles .content__body p:first-of-type {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 980px) {
    .newproducts {
        flex-flow: unset;
        justify-content: center;
    }
}

@media screen and (min-width: 1310px) {
    header {
        padding: 0 10em;
    }
    .productsbanner img {
        width: 80%;
    }
}
